body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #00A4BD;
    justify-content: center;
    align-items: center;
}

.carousel{
    background-color: blue;
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* dropdown */

.drop-down-self {
    display: inline-block;
    position: relative;
}

.drop-down-partner {
    display: inline-block;
    position: relative;
}

.drop-down-content{
    display: none;
    position: absolute;
    border-radius: 12%;
    background-color: rgba(255, 255, 255, 0.8); 
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    /* z-index: 1; */
}

.drop-down-self:hover .drop-down-content{
    display: block;
}

.drop-down-partner:hover .drop-down-content{
    display: block;
}

.drop-down-content img{
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    margin-left: 9vw;
}

.dropdown-content img:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}


/* avatars */

.avatar-container{
    background-color: yellow;
    width: 70vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.drop-down-self{
    border-radius: 100%;
    background-color: green;
    width: 40%;
    height: 70%;

}

.drop-down-partner{ 
    border-radius: 100%;
    background-color: orange;
    width: 40%;
    height: 70%;

}


/* form */

#profile-settings-form{
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#nick{
    background-color: red;
}
